In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

C:\Users\shahabuddin akhon hr\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [3]:
data = pd.read_csv("email.csv")
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
data.groupby("Category").describe()

               Message         \
                 count unique
Category
ham               4825   4516
spam               747    641
{"mode":"full"       1      1


                                                              top freq
Category
ham                                        Sorry, I'll call later   30
spam            Please call our customer service representativ...    4
{"mode":"full"                                    isActive:false}    1

In [10]:
data['spam'] = data["Category"].apply(lambda x: 1 if x=='spam' else 0)
data

            Category                                            Message  spam
0                ham  Go until jurong point, crazy.. Available only ...     0
1                ham                      Ok lar... Joking wif u oni...     0
2               spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3                ham  U dun say so early hor... U c already then say...     0
4                ham  Nah I don't think he goes to usf, he lives aro...     0
...              ...                                                ...   ...
5568             ham               Will Ã¼ b going to esplanade fr home?     0
5569             ham  Pity, * was in mood for that. So...any other s...     0
5570             ham  The guy did some bitching but I acted like i'd...     0
5571             ham                         Rofl. Its true to its name     0
5572  {"mode":"full"                                    isActive:false}     0

[5573 rows x 3 columns]

In [26]:
X_train,X_test,y_train,y_test = train_test_split(data["Message"],data["spam"],test_size=0.2)

In [27]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()

In [28]:
X_train_count=v.fit_transform(X_train)

In [29]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [54]:
email = {
    "Hey shah,You won the match",
    "Upto 20% discount on parking, exclusive Offer just for you.Don't miss this reward!"
}
test = v.transform(email)
model.predict(test)

array([1, 0], dtype=int64)

In [31]:
X_test_count = v.transform(X_test)
model.score(X_test_count,y_test)

0.9856502242152466

In [55]:
from sklearn.pipeline import Pipeline
pip = Pipeline([
    ('vector', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [56]:
pip.fit(X_train,y_train)

Pipeline(steps=[('vector', CountVectorizer()), ('nb', MultinomialNB())])

In [57]:
pip.predict(email)

array([1, 0], dtype=int64)